*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --primary :  #fffffff0;
    --secondary: black;
    --sticky: rgb(198, 198, 198);
    --container: rgb(198, 198, 198);
    --third: rgb(255, 98, 0);
}

.dark-theme{
    --primary: rgb(0, 10, 19);
    --sticky: rgb(0, 7, 12);
    --secondary: white;
    --container: rgba(28, 21, 42, 0.625);
    --third:rgb(0, 255, 208);
}
body{
    min-width: 100vw;
    background-color: var(--primary);
    overflow-x: hidden;
}
nav {
    position: fixed;
    width: 100vw;
    background-color: rgb(50, 50, 50);
    z-index: 998;
}
nav ul{
    display: flex;
    width: 100vw;
    list-style: none;
    justify-content: flex-end;
}
nav li:first-child{
    margin-right: auto;
}
nav li{
    height: 60px;
}
nav a{
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 100%;
    padding: 1.5rem 3rem;
    color: white;
    font-size: 1.5rem;
    transition: 0.5s;   
}
nav a:hover{
    transform: scale(1.2);
    color: var(--third);
    transition: 0.5s;
}
.slider{
    position: fixed;
    display :none;
    flex-direction: column;
    top: 0px;
    right: 0px;
    width: 250px;
    height: 100vh;
    background-color: #191919f0;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
}

.side{
    position: fixed;
    display :none;
    flex-direction: column;
    bottom: 0px;
    right: 0px;
    width: 140px;
    height: 70vh;
    background-color: transparent;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 2px 15px rgb(6, 0, 19);
    padding-right: 50px;
    align-items: flex-end;
    padding-bottom: 40px;
    justify-content: end;
    z-index: 997;
}
.side ul{
    list-style: none;
}
.side img{
    border-radius: 20%;
    width: 50px;
    margin-top: 30px;
    height: 50px;
}
.slider li{
    width: 100%;
}
.show{
    display: none;
}
.menu{
    display: none;
}
.sticky{
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    left: 0px;
    bottom: 0px;
    width: 6vw;
    height: 92vh;
    background-color: var(--sticky);
    border-radius: 10px;
    z-index:1;
    transition: .5s;
}
.sticky:hover{
    padding-left: 30px;
    align-items: self-start;
    width: 15vw;
    transition: .5s;
    box-shadow: 1px 2px 15px rgb(6, 0, 19);
}
.sticky img{
    border-radius: 20%;
    width: 50px;
    margin-top: 30px;
    height: 50px;
}
.sticky ul{
    width: 100%;
    list-style: none;
}
.sticky li{
    width: 100%;
    transition: .5s;
}
.sticky li:hover{
    transform: scale(1.2);
    transition: .5s;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.fp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: 100vh;
}
.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 4.5vw;
}
.fp h1{
    font-size: 5rem;
    color: var(--secondary);
}
.fp span{
    font-size: 5rem;
    color: var(--third);
}
.fp p{
    margin: 50px;
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    color: var(--secondary);
}
.container{
    display: flex;
    display: grid;
    height: 100%;
    width: 100vw;
    justify-self: center;
    justify-content: center;
    gap: 5vh;
    grid-template-columns: auto auto auto;
}
.cards{
    height: 30vh;
    width: 28vw;
    border-radius: 20px;
    background-color: var(--container);
    transition: .5s;
}
.cards:hover{
    transform: scale(1.1);
    transition: .5s;
}
.hello {
    transition: 0.5s;
}
.hello:hover{
    transform: scale(1.2);
    filter: drop-shadow(1px 1px 5px var(--third));
    transition: 0.5s;
}
.problem{
    display: flex;
    text-align: center;
    align-items: center;
}
.problem h1{
    color: var(--secondary);
    font-weight: 50;
}
.imglogo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 20px;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.description ul{
    list-style: none;
    font-size: 15px;
    color: var(--secondary);
}
.sections h2{
    margin: 100px;
    color: var(--secondary);
    font-size: 50px;
}
@media screen and (max-width: 1030px) {
    .sticky{
        display: none;
    }
    .hide{
        display: none;
    }
    .show{
        display: flex;
    }  
    .container{
        grid-template-columns: auto auto;
        column-gap: 10%;
    }
    .cards{
        height: 30vh;
        width: 35vw;
    }
    .menu{
        position: fixed;
        display: flex;
        bottom: 30px;
        right: 20px;
        height: 60px;
        width: 60px;
        z-index: 997;
    }
}
@media screen and (max-width: 770px) {
    .fp{
        height: 85vh;
    }
    .fp h1{
        font-size: 4rem;
    }
    .fp span{
        font-size: 4rem;
    }
    .fp p{
        font-size: 1rem;
        width: 90%;
    }
    .container{
        grid-template-columns: auto ;
    }
    .cards{
        height: 30vh;
        width: 80vw;
    }
    .sections{
        padding-left: 0px;
    }
    .problem h1{
        font-size: 25px;
    }
    .imglogo{
        width: 3.5rem;
        height: 3.5rem;
    }
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */